.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
body{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}

.body-wrapper{
    margin: 31px 160px 50px 160px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.header-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.header-btn{
    padding: 15px 30px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.header-btn:hover{
  background-color: #006A50;
  color: white;
}

.banner-wrapper{
    padding: 80px 60px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    gap: 64px;

}

.banner-title-small{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 0.5;
    font-weight: 500;
    
}

.banner-title-large{
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;

}

.banner-btn{
    background-color: #006A50;
    color: #ffffff;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.banner-btn:hover{
  background-color: white;
  color: #006A50;
}

.bangladesh-pillar{
  margin-top: 80px;
}

.bangladesh-pillar-title{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.pillar-cards{
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.pillar-card{
  padding: 24px;
  border: 1px solid #0E0E0E26;
  border-radius: 16px;
  background-color: #ffffff;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.pillar-card:hover{
  background-color: #C6E4D6;
}

.pillar-card-title{
  font-weight: 700;
  font-size: 20px;
  color: #0E0E0ECC;
}
.pillar-desc{
  font-size: 16px;
  color: #0E0E0EB3;
  line-height: 24px;

}

.vision-wrapper{
  margin-top: 80px;
}

.vision-title{
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E; 
}

.vision-text{
  font-size: 16px;
  color: #0E0E0EB3;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.vision-cards{
  display: flex;
  gap: 24px;

}

.vision-card{
  padding: 32px;
  border-radius: 16px;
  background-color: #5490f533;
}

.energy-card{
  padding: 32px;
  border-radius: 16px;
  background-color: #C6E4D6;
}

.vision-card-title{
  font-weight: 700;
  font-size: 20px;
  color: #0E0E0ECC;
}

.vision-desc{
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0EB3;
}

.transformation-btn{
  border-radius: 8px;
  background-color: #5490f5;
  color: #ffffff;
  border: none;
  padding: 11px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 1s ease-in-out;
}

.transformation-btn:hover{
  color: #5490f5;
  background-color: #ffffff;
}

.energy-btn{
  border-radius: 8px;
  background-color: #09A15C;
  color: #ffffff;
  border: none;
  padding: 11px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 1s ease-in-out;
}

.energy-btn:hover{
  color: #09A15C;
  background-color: #ffffff;
}

.infrastructure-card{
  padding: 32px;
  border-radius: 16px;
  background-color: #F7EBCF;
}

.infrastructure-btn{
  border-radius: 8px;
  background-color: #FFC239;
  color: #ffffff;
  border: none;
  padding: 11px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 1s ease-in-out;

}

.infrastructure-btn:hover{
  color: #FFC239;
  background-color: #ffffff;
}

.opinion-wrapper{
  margin-top: 80px;

}
.opinion-title{
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E;
}
.questions{
  margin-top: 24px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 16px;
  

}
.questions-wrapper{
  border: 1px solid #0E0E0E26;
}
.questions-title{
  padding: 24px;
  background-color: #C6E4D6;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;

}

.recent-news-wrapper{
  margin-top: 80px;
}

.recent-news-title{
  font-size: 40px;
  color: #0E0E0E;
  font-weight: 700;
}

.recent-news-desc{
  font-size: 16px;
  font-weight: 400;
  color: #0E0E0EB3;
  line-height: 24px;
}

.news-wrapper{
  margin-top: 32px;
  padding: 48px;
  background-color: #ffffff;
  border-radius: 24px;
}

.news-image{
  border-radius: 24px;
}

.news-title{
  font-size: 32px;
  font-weight: 700;
  color: #0E0E0ECC;
  line-height: 0px;
  padding-bottom: 10px;
}
.date-wrapper{
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0EB3;
}
.news-date{
  margin-right: 12px;
}
.news-content{
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0EB3;
}
.news-read-btn{
  padding: 13px 26px;
  color: #ffffff;
  background-color: #006A50;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 32px;
  border: none;
  cursor: pointer;
  transition: all 1s ease-in-out;


}

.news-read-btn:hover{
  background-color: #f5f5f5;
  color: #006A50;
}

.news-satellite{
  display: flex;
  gap: 32px;
  align-items: start;
}

.donate-section{
  margin-top: 80px;
}

.donate-title{
  display: flex;
  justify-content: center;
  color: #0E0E0E;
}

.donate-desc{
  text-align: center;
  color: #0E0E0EBC;
}

.donate-wrapper{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.donate{
  padding: 40px;
  border: 1px solid #0E0E0E26;
  font-size: 40px;
  font-weight: 700;
  border-radius: 18px;
  background-color: #ffffff;
  cursor: pointer;
}
.donate:hover{
  background-color: #C6E4D6;
}

.donate-input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #0E0E0E26;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  margin-bottom: 32px;
  text-align: center;
  outline: none;
}

.donate-submit{
  color: #ffffff;
  padding: 17px 34px;
  background-color: #006A50;
  border-radius: 8px;
  border: 1px solid #0E0E0E1A;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.donate-submit:hover{
  background-color: #ffffff;
  color: #006A50;
}

.submit-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.subscribe-wrapper{
  width: 100%;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin-top: 80px;

}

.subscribe-title{
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E;
  text-align: center;

}

.subscribe-desc{
  text-align: center;
  color: #0E0E0EB3;
}

.subscribe-input{
  display: flex;

}

.subscribe-email-input{
  width: 600px;
  outline: none;
  border: none;
  padding-left: 40px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.subscribe-btn{
  font-size: 18px;
  font-weight: 600;
  background-color: #006A50;
  color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 17px 34px;
  transition: all 1s ease-in-out;


}

.subscribe-btn:hover{
  color: #006A50;
  background-color: #f5f5f5;
}

.subscribe-promise{
  color: #0E0E0EB3;
  margin-top: 24px;
  text-align: center;
}

footer{
  margin-top: 80px;
  padding: 50px;

}

.footer-title{
  font-size: 32px;
  font-weight: 700;
  color: #0E0E0E;
  text-align: center;
}

.footer-icon-wrapper{
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 64px;
}

.quote-wrapper{
  padding: 25px 24px 48px 24px;
  width: 100%;
  border: 1px solid #0E0E0E26;
  border-radius: 16px;
  margin-top: 32px;
  background-color: #ffffff;
}
.quote{
  background-image: url("/assets/fi_2087863.png");
  background-repeat: no-repeat;
  height: min-content;
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0ECC;
}

.quote-paragraph{
  padding-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0ECC;
  padding-bottom: 20px;
}

.quote-writer{
  font-size: 20px;
  font-weight: 600;
  color: #0E0E0ECC;

}

.writer-designation{
  font-size: 16px;
  color: #0E0E0E99;
}